@charset "utf-8";

/*
             Brandon Eadie and Eli Bergsma
            Date: 9/12/17
            Instructor: John Kinuthia
            80736.201708(ISYS-288-AGA-Fall 2017)
        
            Final Project website for game store.

    Makes slideshow look nice

    Adapted from w3schools HowTo Slideshow

   Filename: gencon50_style.css

*/

* {
    box-sizing: border-box;
}

/*Slideshow container*/
.slideshow-container {
    max-width: 1024px;
    position: relative;
    margin: auto;
    margin-top: 20px;
}

.mySlides {
    display: none;
}

/*Next & previous buttons, sets "prev button" on the left", set background color*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,100,0,.4);
}

/*Position the "next button" on the right"*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*On hover, change darken background*/
.prev:hover, .next:hover {
    background-color: rgba(0,100,0,.8);
}

/*Number text (1/9 etc))*/
.numbertext {
    background-color: rgba(0,100,0,.4);
    border-radius: 10px;
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.numbertext:hover {
    background-color: rgba(0,100,0,.8);
}

/*The dots/indicators*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background: -webkit-radial-gradient(circle,white,green);
    background: -o-radial-radial-gradient(circle,white,green);
    background: -moz-radial-gradient(circle,white,green);
    background: radial-gradient(circle,white,green);
    border-radius: 50%;
    display: inline-block;
    transition: background 0.6s;
}

.active, .dot:hover {
    background: darkgreen;
}

/*Captions*/
div.text {
    width: 70%;
    margin: 2% auto;
    padding: 1%;
    border: 2px solid darkgreen;
    border-radius: 10px;
    background: rgba(0,100,0,.8);
    color: white;
}