@charset "utf-8";

/*
 
<<<<<<< HEAD
            Brandon Eadie and Eli Bergsma
            Date: 9/12/17
            Instructor: John Kinuthia
            80736.201708(ISYS-288-AGA-Fall 2017)
        
            Final Project website for game store.

=======
>>>>>>> origin/eliedits
   Filename: index_style.css

*/

.content {
<<<<<<< HEAD
    margin: auto;
    text-align:center;
=======
    /*margin: auto; //this is supposed to center the content but is having no effect...*/
    margin: 30px 3%;
>>>>>>> origin/eliedits
}
