/*

            Brandon Eadie and Eli Bergsma
            Date: 9/12/17
            Instructor: John Kinuthia
            80736.201708(ISYS-288-AGA-Fall 2017)
        
            Final Project website for game store.

   From New Perspectives on HTML and CSS, 7th Edition

   MC Forms Style Sheet

   Filename:  survey_forms.css

*/

/* Form Layout Styles */

div.formRow{
	display: -webkit-flex;
	display: flex;
	padding-right: 25px;
	font-size: .8em;
	margin: 4px 0px;
	
}
div.formRow > *{
	-webkit-flex: 1 1 100px;
	flex: 1 1 100px;
}

form#cform{

}

fieldset {
	background-color: rgb(241,232,181);
	-webkit-flex: 1 1 300px;
	flex: 1 1 300px;
	font-size: .9em;
	padding: 10px;
	margin: 5px;
}

/* Legend Styles */
legend{
	background-color: darkgreen;
	color: white;
	padding: 5px;
}


/* Text Area Styles */

textarea{
	margin-top: 10px;
	height: 100px;
	width: 95%;
}

/* Form Button Styles */
div#buttons{
	text-align: center;
	width: 100%
}
input[type='submit']{
	font-size: 1.2em;
	padding: 5px;
	margin: 15px;
	
}

.hide {
    text-align: center;
    margin: auto;
}

input[type = 'colorChange']{
	background: black;
}

/* Validation Styles */

input:focus, select:focus, textarea:focus{
	background-color: rgb(220, 255, 220);
}
input#name:focus:valid,
input#zip:focus:valid,
input#phone:focus:valid,
input#mail:focus:valid{
	background: rgb(220, 255, 220) url(../img/form_go.png) bottom right/contain no-repeat;
}
input#name:focus:invalid,
input#zip:focus:invalid,
input#phone:focus:invalid,
input#mail:focus:invalid{
	background: rgb(255, 232, 233) url(../img/form_stop.png) bottom right/contain no-repeat;
}