@charset "utf-8";
@font-face {
    font-family: OpenSans;
    src: url('opensans.ttf') format('truetype')
}
/*
 
   Filename: Template_style.css

*/

/* HTML and Body styles */
html {
   background:  white;
   background-image: url("../img/background.png");
   background-repeat: space;
   font-family: Verdana, Geneva, sans-serif;
}

body {
   background-color: white;
   box-shadow: rgb(51, 51, 51) 10px 0px 40px,  rgb(51, 51, 51) -10px 0px 40px;
   height: 100%;   
   margin: 0px auto;
   min-width: 640px;
   max-width: 1024px;   
   width: 100%;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: darkgreen;
  font-family: Arial;
  
}

    /* Links inside the navbar */
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    /* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }

    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 16px; 
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
    }

    /* Add a lighter green background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: green;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
/*Footer Style*/

hr {
    visibility: hidden;
    border-color: green;
}

footer {
    font-family: OpenSans;
    display: block;
    padding-bottom: 10px;
    text-align: center;
    background: darkgreen;
    background: -webkit-linear-gradient(darkgreen, rgb(0,180,0));
    background: -o-linear-gradient(darkgreen, rgb(0,180,0));
    background: -moz-linear-gradient(darkgreen, rgb(0,180,0));
    background: linear-gradient(darkgreen, rgb(0,180,0));
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
} 

footer a:hover {
    background: green;
}
